<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" >

    <!-- this is configuration for tomcat to know where to find out servlets -->
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>com.mckinney.servlets.LocationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/locations</url-pattern>
    </servlet-mapping>

</web-app>